.navButton{
    border-color: black;
    border-style: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 5px;
    border-radius: 12px;
}

.footerStyle{
    background-color: gray;
}